<center>
<h2 class="dashboard-text">Welcome, {{user.first_name}}</h2>

<h3>This is your profile</h3>

<br><br>

{{!-- {{#each user.messages}}
<p>{{this}}</p>
{{/each}}
 --}}
{{#each messages}}
<p>{{this}}</p>
{{/each}}

{{#if user.messages}}
	<h4>Messages</h4>

	{{#each user.messages}}
	<div class="col-md-8 col-md-offset-2 messages-container">
		<div class="well messages-well">
			<div class="row">
				<div class="messages-body">
					<span style="font-weight: 500">{{this.from}}:</span>
					<span style="font-weight: 400"> {{this.message}}</span>
				</div>
			</div>
		</div>
	</div>
	{{/each}}

	<div class="col-md-8 col-md-offset-2 messages-container">
		<form method="post" action="/users/messages/reply/{{user.messages.from_user_id}}">
		  <div class="form-group">
		    <textarea class="form-control" name="message" rows="5" cols="10"></textarea>
		    <br>
		    <center>
		    	<button type="submit" class="btn btn-primary">Send</button>
		    </center>
		  </div>
		</form>
	</div>

{{/if}}
</center>