<center>
{{!
------------------------------------------------------------------------------------------------------
Display a list of active conversations 
--------------------------------------------------------------------------------------------------------
}}
{{#if conversations }}
  <h3>Messages</h3>
  {{#each conversations}}

    {{!-- The user that's logged in is viewing his own messages --}}
    {{#if_eq this.created_by_user_id ../logged_in_user._id }}
      <a href="/conversations/{{this._id}}">
        <div class="col-md-6 col-md-offset-3">
          <div class="well">
            <div style="float: left">{{this.sent_to_user_name}}</div>

            {{#if this.unread }}
              {{#each ../last_message }}
                {{#each this }}
                  {{#if_eq ../../this._id ../this._id}}
                    <b style="color: green">{{this.message}}</b>
                  {{/if_eq}}
                {{/each}}
              {{/each}}
            {{else}}
              {{#each ../last_message }}
                {{#each this }}
                  {{#if_eq ../../this._id ../this._id}}
                    <p>{{this.message}}</p>
                  {{/if_eq}}
                {{/each}}
              {{/each}}
            {{/if}}

          </div>
        </div>
      </a>
    {{/if_eq}}

    {{!-- The user that's logged in is viewing messages sent to her --}}
    {{#if_eq this.sent_to_user_id ../logged_in_user._id }}
      <a href="/conversations/{{this._id}}">
        <div class="col-md-6 col-md-offset-3">
          <div class="well">
          <div style="float: left">{{this.created_by_user_name}}</div>
          {{#if this.unread }}  
            {{#each ../last_message }}
              {{#each this }}
                {{#if_eq ../../this._id ../this._id}}
                  <b style="color: green">{{this.message}}</b>
                {{/if_eq}}
              {{/each}}
            {{/each}}
          {{else}}
            {{#each ../last_message }}
              {{#each this }}
                {{#if_eq ../../this._id ../this._id}}
                  <p>{{this.message}}</p>
                {{/if_eq}}
              {{/each}}
            {{/each}}
          {{/if}}
          </div>
        </div>
      </a>
    {{/if_eq}}

    {{!-- {{#if_eq this.created_by_user_id ../logged_in_user._id }}
      <a href="/conversations/{{this._id}}">
        <div class="col-md-6 col-md-offset-3">
          <div class="well">
          {{#if this.unread }}
            <b style="color: green">{{this.created_by_user_name}}</b>
          {{else}}
            {{this.created_by_user_name}}
          {{/if}}
          {{#each ../last_message }}
            {{#each this }}
              {{#if_eq ../../this._id ../this._id}}
                <p>{{this.message}}</p>
              {{/if_eq}}
            {{/each}}
          {{/each}}
          </div>
        </div>
      </a>
    {{/if_eq}} --}}

  {{/each}}
{{/if}}

{{!
------------------------------------------------------------------------------------------------------
Display a single conversation
--------------------------------------------------------------------------------------------------------
}}

{{#if user_messages }}
  <div class="col-md-6 col-md-offset-3 messages-container">
    {{#each user_messages}}

    <div class="well messages-well">
      {{#if_eq this.from_user_id ../logged_in_user._id}}
      {{!-- This shows the currently logged in user --}}
      <div align="left">
        {{#if this.unread}}
          <div style="float: left"><b>{{this.from}}:</b> {{this.message}}</div>
          <div style="float: right">Unread</div>
          <div style="clear: both"></div>
        {{else}}
          <div style="float: left"><b>{{this.from}}:</b> {{this.message}}</div>
          <div style="float: right; color: green"><i class="fa fa-check" aria-hidden="true" style="color: green"></i>&nbsp;Read</div>
          <div style="clear: both"></div>
        {{/if}}
      </div>
      {{/if_eq}}

      {{#if_eq this.to_user_id ../logged_in_user._id}}
      <div align="left">
        {{#if this.unread}}
          <b>{{this.from}}: {{this.message}}</b>
        {{else}}
          <b>{{this.from}}:</b> {{this.message}}
        {{/if}}
      </div>
      {{/if_eq}}
    </div>
    {{/each}}
  </div>

  <form method="post" action="/messages/reply/{{conversation_id}}">
    <div class="form-group col-md-6 col-md-offset-3">
      <textarea class="form-control" name="message" rows="5" cols="10"></textarea>
      <br>
      <center>
        <button type="submit" class="btn btn-primary">Send</button>
      </center>
    </div>
  </form>
{{/if}}

</center>
