<center>
<h2 class="dashboard-text">Welcome, {{user.first_name}}</h2>

{{#if conversations }}
	<h3>Your Messages</h3>
	{{#each conversations}}
	<p><a href="/users/conversations/{{this._id}}">{{this.first_name}}</a></p>
	{{/each}}
{{/if}}

{{#if user_messages }}
	{{#each user_messages}}
		<h4>Conversation with {{this.to}}</h4>
		<b>You:</b> {{this.message}}
	{{/each}}
{{/if}}

{{!-- {{#if user.messages}}
	{{#each messages }}
		{{#each this}}
			{{#each this}}
					<div class="col-md-12 messages-container">
						{{#if_eq ../../../user._id this.from_user_id }}
							<h5>Conversation with {{this.to}}</h5>
							<div class="well messages-well">
								<div class="row">
									<div class="messages-body">
											<div>
												<span style="font-weight: 500">You:</span>
												<span style="font-weight: 400"> {{this.message}}</span>
											</div>
									</div>
								</div>
							</div>
						{{else}}
							<h5>Conversation with {{this.from}}</h5>
							<div class="well messages-well">
								<div class="row">
									<div class="messages-body">
											<div>
												<span style="font-weight: 500">{{this.from}}:</span>
												<span style="font-weight: 400"> {{this.message}}</span>
											</div>
									</div>
								</div>
							</div>
						{{/if_eq}}
					</div>
			{{/each}}
		{{/each}}
	{{/each}}
{{/if}} --}}

</center>