<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <!-- Page styles -->
  {{#each styles}}
    <link rel="stylesheet" type="text/css" href={{this}}>
  {{/each}}
</head>
<body {{#if bodyClasses}} class="{{{bodyClasses}}}" {{/if}}>
  <div {{#if divContainerClasses}} class="{{{divContainerClasses}}}" {{/if}}>
    {{> nav }}
    {{{ body }}}
  </div>
  {{> footer }}

  {{#each scripts}}
    <script type="text/javascript" src={{this}}></script>
  {{/each}}
</body>
</html>
