<div class="main">
  <h2 class="testimonials-header">Recently Active</h2>
  <div class="testimonials">
    {{#each allUsers}}
      <a href="/user/{{_id}}" style="text-decoration: none">
        <div class="testimonial-wrapper">
          {{#each photos}}
            <div class="testimonial-image">
              <img src="{{this}}" alt="Photo 1">
            </div>
          {{/each}}
          <div class="testimonial-body">
            <div class="testimonial-name">{{name}}, {{age}}</div>
            <p class="location">{{city}}, {{state}}</p>
            <p class="country">{{country}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>

<!-- <div id="home"></div>
<script>
  let homeContent = `
    <div class="main">
      <h2 class="testimonials-header">Recently Active</h2>
  `;

  document.querySelector('#home').innerHTML = homeContent;
  axios.get("/api/all-members", {
    headers: {
      Authorization: Cookies.get('token')
    }
  }).then(res => {
    console.log('res.data:\n', res.data)
    homeContent += `
      <div class="testimonials">
        ${
          res.data.all.map(user => (`
            <a href="/user/${user._id}" style="text-decoration: none">
              <div class="testimonial-wrapper">
                <div class="testimonial-image">
                  <img src=${user.photos[Math.floor(Math.random() * user.photos.length)]} alt="Photo 1">
                </div>
                <div class="testimonial-body">
                  <div class="testimonial-name">${user.name}, ${user.age}</div>
                  <p class="location">${user.city}</p>
                  <p class="country">${user.country}</p>
                </div>
              </div>
            </a>
          `)).join('')
        }
      </div>
      </div>
    `;

    document.querySelector('#home').innerHTML = homeContent;
  }).catch(err => {
    Cookies.remove('token');
    window.location.pathname = '/login';
  })
</script>
 -->