<div class="main">
  <h2 class="testimonials-header">Recently Active</h2>
  <div class="testimonials">
    {{#each allUsers}}
      <a href="/user/{{_id}}" style="text-decoration: none">
        <div class="testimonial-wrapper">
          {{#each photos}}
            <div class="testimonial-image">
              <img src="{{this}}" alt="Photo 1">
            </div>
          {{/each}}
          <div class="testimonial-body">
            <div class="testimonial-name">{{name}}, {{age}}</div>
            <p class="location">{{city}}, {{state}}</p>
            <p class="country">{{country}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>